<div class="wrapper mb-1" id="wrapper">
  <div class="well">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="row lorry">
            Lorry Arrival Details
            <button type="submit" class="btn btn-warning btn1">Back</button>
          </div>
          <div class="container con1">
            <div class="row">
              <table class="table table-responsive">
                <tr class="tr1">
                  <th colspan="9" class="th1">Consigment Information</th>
                </tr>
                <tr class="tr2">
                  <th>SL.NO</th>
                  <th>CN.NO</th>
                  <th>Destination</th>
                  <th>Booked Pkgs</th>
                  <th>Despatched Pkgs</th>
                  <th>Breakage</th>
                  <th>Excess</th>
                  <th>Shortage</th>
                  <th>Remarks</th>
                </tr>
                <tr>
                  <td>1</td>
                  <td>MF02200</td>
                  <td>Gurgaon</td>
                  <td>50</td>
                  <td>50</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>Remarks</td>
                </tr>
                <tr>
                  <td>2</td>
                  <td>MF02200</td>
                  <td>Gurgaon</td>
                  <td>50</td>
                  <td>50</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>Remarks</td>
                </tr>
                <tr>
                  <td>3</td>
                  <td>MF02200</td>
                  <td>Gurgaon</td>
                  <td>50</td>
                  <td>50</td>
                  <td>0</td>
                  <td>0</td>
                  <td>0</td>
                  <td>Remarks</td>
                </tr>
              </table>
            </div>
          </div>
          <div class="container border">
            <form class="form">
              <div class="row">
                <div class="add">
                  <tr>
                    <th colspan="9">Additional Information</th>
                  </tr>
                </div>
                <div class="col-12">
                  <div class="col-xs-3">
                    <label for="first_name">Challan No.</label>
                    <input type="text" class="form-control" placeholder="." />
                  </div>
                  <div class="col-xs-3">
                    <label for="first_name">Challan Date</label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                  <div class="col-xs-3">
                    <label for="first_name">Arrival Date</label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                </div>
                <div class="row"></div>
                <div class="col-12">
                  <div class="col-xs-3">
                    <label for="first_name">Arrival Time</label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                  <div class="col-xs-3">
                    <label for="first_name">Remarks</label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                  <div class="col-xs-3">
                    <label for="first_name">Branch Name</label>
                    <input type="text" class="form-control" placeholder="" />
                  </div>
                </div>
              </div>
            </form>
            <button type="submit" class="btn btn-success button">Submit</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!-- <footer>
    <p style="margin-top: 10px; color: white">
      Road Transport (RT) www.transportmanagement.in (+91-6789543201)
    </p>
  </footer> -->
