.btn1 {
  width: 85px;
  background-color: #08b934;
  height: 30px;
  margin-left: 55%;
  border-radius: 5px;
  border: none;
}

.btn2 {
  width: 85px;
  background-color: #f3a619;
  height: 30px;
  margin-left: 3%;
  border: none;
  border-radius: 5px;
}

.glyphicon-print {
  font-size: 20px;
  margin-top: 3px;
}

.glyphicon-edit {
  font-size: 20px;
  margin-top: 3px;
}
