<div class="container-fluid mb-40" >
  <div class="container" id="main">
    <div class="row">

      <div class="col-md-12 mb-1">
        <div class="panel panel-default">
          <div class="panel-heading "><div class="media">
            <a href="#" class="pull-left">
              <i
                class="glyphicon glyphicon-dashboard"
                style="width: 50px; height: 50px; font-size: 4em"
              ></i>
              
             
            </a>
            <div class="media-body">
              <div class="col-lg-8 padding-left-0">
                <h4 class="media-heading">Dashboard</h4>
              </div>
              <div class="col-lg-4 text-right">
                <i class="fa fa-industry text-danger" style="font-size: 1em">
                  Bloqueado</i
                >
              </div>
  
              <div class="col-lg-12 padding-left-0">
                <ul class="list-inline list-unstyled">
                  <li>
                    <div class="btn-group">
                      <a
                        class="btn btn-primary btn-xs"
                        href="javascript:void(0)"
                        >Welcome   Admin</a
                      >
                    </div>
                  </li>
                  <li>|</li>
                  <li>
                    <span
                      ><i class="glyphicon glyphicon-comment"></i> Deshboard of Finacial Year
                    </span>
                  </li>
                  <li>|</li>
                  <span
                    ><i class="glyphicon  glyphicon-calendar"></i> 2023
                    </span
                  >
                  <li>|</li>
                  <!-- <li>
  
                            <span><i class="glyphicon glyphicon-calendar"></i>wewqe</span>
                            <span><i class="glyphicon glyphicon-calendar"></i>rwre</span>
                            <span><i class="glyphicon glyphicon-calendar"></i>erew</span>
                        </li> -->
                </ul>
              </div>
            </div>
          </div>
          </div>
         
        </div>
      </div>
    
      <div class="clearfix"></div>
  
      
  
    </div>
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal ">
          <div class="panel-heading text-center tag-red">
            <span class="fa fa-globe  "></span>
            
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Total Orders <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-green">
            <span class="fa fa-user-plus"></span>
           
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Total Customers  <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-blue">
            <span class="fa fa-users"></span>
            
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Total Vendors <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-pink ">
            <span class="fa fa-truck"></span>
           
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5 >Orders Delivered <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
            
          </div> </div>
  
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
     <div class="row">
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-C-green">
            <span class="fa fa-cart-arrow-down"></span>
            
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Dispatched Orders <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-orange ">
            <span class="fa fa-cart-plus"></span>
           
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Orders Booked <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-Yellow">
            <span class="fa fa-times"></span>
            
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5>Cancel Orders <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
  
          </div> </div>
  
        </div>
      </div>
      <div class="col-sm-3 mb-1">
        <div class="panel panel-default panel-horizontal">
          <div class="panel-heading text-center tag-bark-blue">
            <span class="glyphicon glyphicon-usd"></span>
           
          </div>
          <div class="panel-body"> <div class="list-inline pull-right mini-stat">
            <h5 >Payment <span class="stat-value color-blue"><i class="fa fa-plus-circle"></i> 81,450</span></h5>
            
          </div> </div>
  
        </div>
      </div>
    </div>
    <div class="clearfix"></div>
     <div class="row">
      <hr>
      <div class="col-md-12 text-center">
        <p><a href="" target="_ext">Transport Managment System</a><br><a
            href="" target="_ext">TMS</a></p>
      </div>
      <hr>
      <div class="clearfix"></div>
     </div>
  </div>
  
</div>
