<div class="container-fluid mb-40">
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" id="table">

                            <div class="panel-heading"><span class="pull-right">

                                    <a role="button" class="btn  btn-success"
                                        [routerLink]="['/dashboard/vehicleregister']">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                                </span>
                                <ul class="list-inline list-unstyled">
                                    <li>
                                        <h4>Vehicle Registration</h4>

                                    </li>

                                    <!-- <li><div class="btn-group">
                            <a class="btn btn-danger btn-xs" href="javascript:void(0)">EXCLUSIVE TAX SALE</a>
                          </div></li> -->

                                </ul>


                            </div>
                            <div class="panel-body">
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <!-- <div class="col-md-6 col-sm-6  mb-1"> -->
                                        <!-- <div class="panel panel-primary">
    
                                                <div class="panel-body">
                                                    <form id="candidatedata" class="form-horizontal" role="form">
    
                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel">
                                                                    <div class="panel-heading custom-header-panel">
                                                                        <h3 class="panel-title roboto"> Consignment Summary
                                                                        </h3>
                                                                    </div>
                                                                    <div class="panel-body">
    
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="name">Consignor Name <span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control"
                                                                                    name="name" id="name" value=""
                                                                                    required="" maxlength="70">
                                                                            </div>
                                                                        </div>
    
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">Address 1<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">Address 2<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">State<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">City<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">PinCode<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">Mobile No<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">Email<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut">Consignor GST No<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-8">
                                                                                <input type="text" class="form-control rut"
                                                                                    id="rut" name="rut" value=""
                                                                                    maxlength="12" placeholder=""
                                                                                    required="required">
                                                                            </div>
                                                                        </div>
     -->

                                        <!--Fin datos personales-->
                                        <!-- <div class="form-group ">
                                                                            <label class="col-sm-4 control-label"
                                                                                for="rut"></label>
    
                                                                            <div class="col-sm-8">
                                                                                <button type="submit" id="submit_btn"
                                                                                    class="btn btn-success "
                                                                                    [routerLink]="['/dashboard/additional-service-c-b-s']"><span
                                                                                        class="glyphicon glyphicon-ok-circle mr-10"
                                                                                        aria-hidden="true"></span>Submit</button>
                                                                            </div>
    
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                            </div>
    
                                                        </div>
                                                    </form>
    
                                                </div>
                                            </div>
                                        </div> -->
                                        <div class="col-md-6 col-sm-6 mb-1">
                                            <div class="panel panel-primary ">
                                                <div class="panel-heading ">
                                                    <div class="row">
                                                        <div class="col col-xs-12">
                                                            <h3 class="panel-title roboto"> New Register</h3>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="panel-body panel-table" style="overflow-x: auto">
                                                    <form id="candidatedata" class="form-horizontal" role="form">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel">

                                                                    <div class="panel-body">

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="name">Vehicle Registration no.
                                                                                <span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text" class="form-control"
                                                                                    name="name" id="name" value=""
                                                                                    required="" maxlength="70">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Vehicle Type<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Vehicle Model no.<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Color<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-5"></div>
                                                                            <div class="col-sm-7">
                                                                                <a role="button"
                                                                                    class="btn  btn-success"
                                                                                    [routerLink]="['/dashboard/vehicleregister']">
                                                                                    <span
                                                                                        class="glyphicon glyphicon-ok-circle"></span>
                                                                                    Submit</a>
                                                                            </div>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                            <div class="clearfix mb-1"></div>
                                        </div>
                                        <div class="col-md-6 col-sm-6 mb-1">
                                            <div class="panel panel-primary ">
                                                <div class="panel-heading ">
                                                    <div class="row">
                                                        <div class="col col-xs-12">
                                                            <h3 class="panel-title roboto"> Additional Information</h3>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="panel-body panel-table" style="overflow-x: auto">
                                                    <form id="candidatedata" class="form-horizontal" role="form">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel">

                                                                    <div class="panel-body">

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="name">Vehicle Maker Name <span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text" class="form-control"
                                                                                    name="name" id="name" value=""
                                                                                    required="" maxlength="70">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Chessis No.<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Engine No.<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Insurance Valid Upto<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Permit Details<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                        </div>
                                        <!-- </div> -->
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>



            </div>
        </div>

    </div>
</div>