<div class="container-fluid mb-40">
    <div class="container" id="main">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="panel panel-default" id="table">

                            <div class="panel-heading"><span class="pull-right">

                                    <a role="button" class="btn  btn-success"
                                        [routerLink]="['/dashboard/menifest-cart']">
                                        <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                                </span>
                                <ul class="list-inline list-unstyled">
                                    <li>
                                        <h4>New Menifest</h4>

                                    </li>

                                    <!-- <li><div class="btn-group">
                            <a class="btn btn-danger btn-xs" href="javascript:void(0)">EXCLUSIVE TAX SALE</a>
                          </div></li> -->

                                </ul>


                            </div>
                            <div class="panel-body">
                                <div class="row ">
                                    <div class="col-md-12 ">
                                        <div class="col-sm-3"></div>

                                        <div class="col-md-6 col-sm-4 mb-1">
                                            <div class="panel panel-primary ">
                                                <div class="panel-heading ">
                                                    <div class="row">
                                                        <div class="col col-xs-12">
                                                            <div><span class="pull-right">

                                                                <a role="button" class="btn  btn-success"
                                                                    data-toggle="modal" data-target="#myModal">
                                                                    <span class="glyphicon glyphicon-edit"></span>
                                                                </a>
                                                            </span>
                                                            <h3 class="panel-title roboto"> Create Menifest</h3>
                                                        </div>

                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="panel-body panel-table" style="overflow-x: auto">
                                                    <form id="candidatedata" class="form-horizontal" role="form">

                                                        <div class="row">
                                                            <div class="col-md-12">
                                                                <div class="panel">

                                                                    <div class="panel-body">

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="name">Menifest Date
                                                                                <span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text" class="form-control"
                                                                                    name="name" id="name" value=""
                                                                                    required="" maxlength="70">
                                                                            </div>
                                                                        </div>

                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">From<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">To<span
                                                                                    class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>


                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Vehicle/Lorry No.<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Charge Amount<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Advance Payment<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Amount Adjustment<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Due Balance Amount<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <label class="col-sm-5 control-label"
                                                                                for="rut">Remarks<span class="requerido">
                                                                                    *</span></label>
                                                                            <div class="col-sm-7">
                                                                                <input type="text"
                                                                                    class="form-control rut" id="rut"
                                                                                    name="rut" value="" maxlength="12"
                                                                                    placeholder="" required="required">
                                                                            </div>
                                                                        </div>
                                                                        <div class="form-group">
                                                                            <div class="col-sm-5"></div>
                                                                            <div class="col-sm-7">
                                                                                <a role="button"
                                                                                    class="btn  btn-success"
                                                                                    [routerLink]="['/dashboard/vehicleregister']">
                                                                                    <span
                                                                                        class="glyphicon glyphicon-ok-circle"></span>
                                                                                    Submit</a>
                                                                            </div>
                                                                        </div>



                                                                    </div>
                                                                </div>
                                                            </div>

                                                        </div>
                                                    </form>
                                                </div>

                                            </div>
                                            <div class="clearfix mb-1"></div>
                                        </div>
                                        <div class="col-sm-3"></div>
                                        
                                    </div>


                                </div>
                            </div>

                        </div>
                    </div>
                </div>
                <div class="clearfix"></div>
                <!-- Modal -->
                <div class="row " id="myModal" class="modal fade" role="dialog">
                    <div class="col-md-12 ">
                        <div class="col-sm-3"></div>

                        <div class="col-md-6 col-sm-4 mb-1">
                            <div class="panel panel-primary ">
                                <div class="panel-heading ">
                                    <div class="row">
                                        <div class="col col-xs-12">
                                            <!-- <h3 class="panel-title roboto"> Create Menifest</h3> -->
                                            <div><span class="pull-right">

                                                <button type="button" class="close" data-dismiss="modal">&times;</button>
                                                </span>
                                                <h3 class="panel-title roboto"> Create Menifest</h3>
                                            </div>
                                        </div>

                                    </div>
                                </div>

                                <div class="panel-body panel-table" style="overflow-x: auto">
                                    <form id="candidatedata" class="form-horizontal" role="form">

                                        <div class="row">
                                            <div class="col-md-12">
                                                <div class="panel">

                                                    <div class="panel-body">

                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="name">Menifest Date
                                                                <span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text" class="form-control"
                                                                    name="name" id="name" value=""
                                                                    required="" maxlength="70">
                                                            </div>
                                                        </div>

                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">From<span
                                                                    class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">To<span
                                                                    class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>


                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Vehicle/Lorry No.<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Charge Amount<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Advance Payment<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Amount Adjustment<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Due Balance Amount<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <label class="col-sm-5 control-label"
                                                                for="rut">Remarks<span class="requerido">
                                                                    *</span></label>
                                                            <div class="col-sm-7">
                                                                <input type="text"
                                                                    class="form-control rut" id="rut"
                                                                    name="rut" value="" maxlength="12"
                                                                    placeholder="" required="required">
                                                            </div>
                                                        </div>
                                                        <div class="form-group">
                                                            <div class="col-sm-5"></div>
                                                            <div class="col-sm-7">
                                                                <a role="button"
                                                                    class="btn  btn-success"
                                                                    [routerLink]="['/dashboard/vehicleregister']">
                                                                    <span
                                                                        class="glyphicon glyphicon-ok-circle"></span>
                                                                    Submit</a>
                                                            </div>
                                                        </div>



                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </form>
                                </div>

                            </div>
                            <div class="clearfix mb-1"></div>
                        </div>
                        <div class="col-sm-3"></div>
                    </div>


                </div>


            </div>
        </div>

    </div>
</div>