<div class="container">
  <div class="page-header">
    <div class="header">
      <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button
              type="button"
              class="navbar-toggle collapsed"
              data-toggle="collapse"
              data-target="#bs-example-navbar-collapse-1"
            >
              <span class="sr-only">TMSstem</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">TMSstem</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div
            class="collapse navbar-collapse"
            id="bs-example-navbar-collapse-1"
          >
            <ul class="nav navbar-nav">
              <li class="active"><a href="#">Transport</a></li>
              <li><a href="#">Home</a></li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Booking<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li>
                    <a
                      [routerLink]="['/dashboard/consignment-booking-register']"
                      >Consigment Booking Register</a
                    >
                  </li>
                  <li><a href="#">Date Wise Booking Register</a></li>
                  <li><a href="#">Quick Booking</a></li>
                  <li><a href="#">Bulk Consigment Print</a></li>
                  <li><a href="#">Consigment Print</a></li>
                  <li><a href="#">E-Way Bill Register</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Loading<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Menifest Register</a></li>
                  <li><a href="#">Loading Pending List</a></li>
                  <li><a href="#">Menifest Search</a></li>
                  <li><a href="#">Vehicle Hire Register</a></li>
                  <li><a href="#">Vehicle Register</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Despatch<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Despatch Conigment</a></li>
                  <li><a href="#">Consigment Despatch Report</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Receive<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Consigment Receive Register</a></li>
                  <li><a href="#">Unload Consigment</a></li>
                  <li><a href="#">Consigment at Destination</a></li>
                  <li><a href="#">Source Wise CN Register</a></li>
                  <li><a href="#">CN Search(Receive)</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Delivery<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Consigment Arrival List</a></li>
                  <li><a href="#">Gate Pass Register</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Accounting<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Money Receipt</a></li>
                  <li><a href="#">Date Wise Booking Register</a></li>
                  <li><a href="#">Daily Cash Book</a></li>
                  <li><a href="#">Payment</a></li>
                  <li><a href="#">Daily Payment Report</a></li>
                  <li><a href="#">Daily Payment Report By Account</a></li>
                  <li><a href="#">Monthly To Be Bill(Invoice)</a></li>
                  <li><a href="#">Ledger</a></li>
                  <li><a href="#">Ledger By Account</a></li>
                  <li><a href="#">Ledger BY City</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Statement<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Statement</a></li>
                  <li><a href="#">Date Wise Booking register</a></li>
                  <li><a href="#">Statutory Register Report</a></li>
                  <li><a href="#">Manifest Register Report</a></li>
                  <li><a href="#">Lorry Arrival Register Report</a></li>
                  <li><a href="#">Gatepass Register Report</a></li>
                  <li><a href="#">Daily GP Report</a></li>
                  <li><a href="#">Money Receipt Register report</a></li>
                  <li><a href="#">Transport Register Report</a></li>
                  <li><a href="#">Over All Register Report</a></li>
                  <li><a href="#">Over All Search by CN</a></li>
                  <li><a href="#">Party Wise CN Search</a></li>
                  <li><a href="#">Destination wise CN Register</a></li>
                  <li><a href="#">Booking Reff wise CN Register</a></li>
                  <li><a href="#">Destination Wise Due Report</a></li>
                  <li><a href="#">Booking reff Wise due report</a></li>
                  <li><a href="#">GSTR-1 Report</a></li>
                  <li><a href="#">GSTR-3B Report</a></li>
                </ul>
              </li>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle" data-toggle="dropdown"
                  >Master<span class="caret"></span
                ></a>
                <ul class="dropdown-menu" role="menu">
                  <li><a href="#">Accounts creation</a></li>
                  <li><a href="#">Godown</a></li>
                  <li><a href="#">Charges</a></li>
                  <li><a href="#">Booking From Reference</a></li>
                  <li><a href="#">Delivery To Location</a></li>
                  <li><a href="#">Unit of Measurement</a></li>
                  <li><a href="#">Status List</a></li>
                  <li><a href="#">Tax Slab</a></li>
                  <li><a href="#">Tax Calculation Settings</a></li>
                  <li><a href="#">Order Summary</a></li>
                  <li><a href="#">Package Type</a></li>
                  <li><a href="#">Weight Type</a></li>
                  <li><a href="#">GST</a></li>
                  <li><a href="#">Rate as per</a></li>
                  <li><a href="#">Broker</a></li>
                </ul>
              </li>
            </ul>

            <ul class="nav navbar-nav navbar-right gradient-custom-2">
              <li class="dropdown gradient-custom-2">
                <a
                  href="#"
                  class="dropdown-toggle gradient-custom-2"
                  data-toggle="dropdown"
                  ><b>Login</b> <span class="caret"></span
                ></a>

                <ul id="login-dp" class="dropdown-menu gradient-custom-2">
                  <li>
                    <div class="row gradient-custom-2">
                      <div class="col-md-12 gradient-custom-2">
                        <h6>
                          <a (click)="onProfile()"><b>Profile</b></a>
                        </h6>
                      </div>
                      <div class="bottom text-center">
                        <h6>
                          Do You want to ChackOut ?
                          <a (click)="onoLogout()"> <b>Log Out</b></a>
                        </h6>
                      </div>
                    </div>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
          <!-- /.navbar-collapse -->
        </div>
        <!-- /.container-fluid -->
      </nav>
    </div>
  </div>
</div>
