<div class="wrapper  mb-1" id="wrapper">
  <div class="well">
    <div class="container-fluid">

      <div class="row  ">
        <div class="col-md-12 ">
          <div class="media mb-1">
            <a href="#" class="pull-left">
              <i class="glyphicon glyphicon-dashboard" style="width: 50px; height: 50px; font-size: 4em;;"></i>
            </a>
            <div class="media-body">
                <div class="col-lg-8 padding-left-0">
                    <h4 class="media-heading"> Dashboard</h4>
                </div>
                <div class="col-lg-4 text-right">
                    <i class="fa  fa-industry text-danger " style=" font-size: 1em;;"> Bloqueado</i>
                </div>

                <div class="col-lg-12 padding-left-0">

                    <ul class="list-inline list-unstyled">
                        <li><div class="btn-group">
                                <a class="btn btn-primary btn-xs" href="javascript:void(0)">Welcome Admin</a>


                            </div></li>
                        <li>|</li>
                        <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                        <li>|</li>
                        <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                        <li>|</li>

                    </ul>
                </div>

            </div>
          </div>
          <div class="page-title ">
            <ol class="breadcrumb page-content">
              <li class="active"><i class="fa fa-user" aria-hidden="true"></i>Dashboard - Financial Year 2023</li>

            </ol>
          </div>
        </div>
      </div>
    </div>
    <div class="container-fluid bg-3 text-center ">
      <div class="row">
        <div class="col-sm-3">
          <div class="panel panel-default panel-horizontal">

            <div class="panel-heading" style="background-color: #89c1d9;">
              <span class="glyphicon glyphicon-shopping-cart icon-size"></span>

            </div>
            <div class="panel-body">
              <div class="list-inline pull-right mini-stat">
                <h3 class="panel-title">Today's Sales</h3>
                <h5><span class="stat-value color-blue">
                    81,450</span></h5>

              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-horizontal">
            <div class="panel-heading" style="background-color: #eeac6f;">
              <span class="glyphicon glyphicon-calendar calender icon-size"></span>

            </div>
            <div class="panel-body"> <div class="list-inline pull-right mini-stat">

            </div> </div>
            <div class="panel-body">
              <div class="list-inline pull-right mini-stat">
                <h3 class="panel-title">Sales of last 7 days</h3>
                <h5><span class="stat-value color-blue">
                    81,450</span></h5>

              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-horizontal">

            <div class="panel-heading" style="background-color: #f386d2;">
              <span class="glyphicon glyphicon-calendar sale icon-size"></span>

            </div>
            <div class="panel-body">
              <div class="list-inline pull-right mini-stat">
                <h3 class="panel-title">Sales of last 30 days</h3>
                <h5><span class="stat-value color-blue">
                    81,450</span></h5>

              </div>
            </div>

          </div>
        </div>
        <div class="col-sm-3">
          <div class="panel panel-default panel-horizontal">
            <div class="panel-heading" style="background-color: #94deb2;">
              <span class="glyphicon glyphicon-calendar sales icon-size"></span>

            </div>
            <div class="panel-body"> <div class="list-inline pull-right mini-stat">

            </div> </div>
            <div class="panel-body">
              <div class="list-inline pull-right mini-stat">
                <h3 class="panel-title">Sales of last 90 days</h3>
                <h5><span class="stat-value color-blue">
                    81,450</span></h5>

              </div>
            </div>

          </div>
        </div>
      </div>
    </div>
  </div>

</div>
