<div class="container-fluid mb-40">
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" id="table">
              <div class="panel-heading">
                <span class="pull-right">
                  <a
                    role="button"
                    class="btn btn-success"
                    [routerLink]="['/dashboard/consignment-booking']"
                  >
                    <span class="glyphicon glyphicon-arrow-left"></span> Back</a
                  >
                </span>
                <ul class="list-inline list-unstyled">
                  <li>
                    <h4>Additional Service Charges & Billing Summary</h4>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="alert alert-success" role="alert" *ngIf="showPanel">
                  <i
                    class="glyphicon glyphicon-info-sign mr-10"
                    aria-hidden="true"
                  ></i
                  ><strong class="mr-10">Record</strong>Record inserted.
                </div>
                <div class="row mb-20">
                  <div class="col-md-12">
                    <div class="panel panel-primary">
                      <div class="panel-heading">
                        <div class="panel-title">Consignment Details</div>
                      </div>
                      <div class="panel-body" style="overflow-x: auto">
                        <div class="row">
                          <div class="col-sm-6 col-md-6 mb-10">
                            <div class="fs-sm text-dark text-uppercase-bold-sm">
                              Consignee Details
                            </div>
                            <hr />
                            <div class="px-0 text-uppercase-bold-dm1">
                              loknath industry
                            </div>
                            <hr />
                            <div class="px-0">
                              <strong class="mr-10 bs-example1"
                                >Address:</strong
                              >
                              <span class="bs-example"
                                >bishlghar tripura west,</span
                              ><br />
                              <strong class="mr-10 bs-example1">city:</strong
                              ><span class="bs-example">agartala,</span><br />
                              <strong class="mr-10 bs-example1">pin:</strong
                              ><span class="bs-example">7999001,</span><br />
                              <strong class="mr-10 bs-example1">mobile:</strong
                              ><span class="bs-example">9862519355,</span><br />
                              <strong class="mr-10 bs-example1">gst no:</strong
                              ><span class="bs-example">16aadfl1574b1zq</span>
                            </div>
                          </div>
                          <div class="col-sm-6 col-md-6 mb-10">
                            <div class="fs-sm text-dark text-uppercase-bold-sm">
                              Consignor Details
                            </div>
                            <hr />
                            <div class="px-0 text-uppercase-bold-dm1">
                              loknath industry
                            </div>
                            <hr />
                            <div class="px-0">
                              <strong class="mr-10 bs-example1"
                                >Address:</strong
                              >
                              <span class="bs-example"
                                >bishlghar tripura west,</span
                              ><br />
                              <strong class="mr-10 bs-example1">city:</strong
                              ><span class="bs-example">agartala,</span><br />
                              <strong class="mr-10 bs-example1">pin:</strong
                              ><span class="bs-example">7999001,</span><br />
                              <strong class="mr-10 bs-example1">mobile:</strong
                              ><span class="bs-example">9862519355,</span><br />
                              <strong class="mr-10 bs-example1">gst no:</strong
                              ><span class="bs-example">16aadfl1574b1zq</span>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-1">
                    <form [formGroup]="allTypesCharges">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title">Item 1 Details</div>
                        </div>
                        <div class="panel-body">
                          <div class="row clearfix">
                            <div
                              class="col-md-12 column"
                              style="overflow-x: auto"
                            >
                              <table
                                class="table table-bordered table-hover"
                                id="tab_logic"
                              >
                                <tbody id="addr0">
                                  <tr>
                                    <td>1</td>
                                    <td>R.C</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="r_c"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('r_c')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('r_c')?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>2</td>
                                    <td>Hamali</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="hamali"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('hamali')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('hamali')?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>3</td>
                                    <td>Service Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="service_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('service_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('service_charge')
                                            ?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>4</td>
                                    <td>Statistical Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="statistical_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('statistical_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get(
                                            'statistical_charge'
                                          )?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>5</td>
                                    <td>Cover Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="cover_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('cover_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('cover_charge')
                                            ?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>6</td>
                                    <td>
                                      Insurance Charge on invoice Value in
                                      Percentage
                                    </td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="insurance_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('insurance_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get(
                                            'insurance_charge'
                                          )?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>7</td>
                                    <td>D.D.Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="dd_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('dd_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('dd_charge')
                                            ?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>8</td>
                                    <td>Other Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="other_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('other_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('other_charge')
                                            ?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>

                                  <tr>
                                    <td>9</td>
                                    <td>Fee Charge</td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="fee_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('fee_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get('fee_charge')
                                            ?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr>
                                    <td>10</td>
                                    <td>
                                      Door Delivery Charges Including Loading &
                                      Unloding
                                    </td>
                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        formControlName="door_delivery_charge"
                                        (change)="onTotalCharge()"
                                      />
                                      <small
                                        *ngIf="
                                          allTypesCharges
                                            .get('door_delivery_charge')
                                            ?.hasError('required') &&
                                          allTypesCharges.get(
                                            'door_delivery_charge'
                                          )?.touched
                                        "
                                        class="text-danger"
                                        >required field</small
                                      >
                                    </td>
                                  </tr>
                                  <tr class="alert-warning">
                                    <td colspan="2">Total Charge</td>

                                    <td>
                                      <input
                                        type="number"
                                        class="form-control"
                                        name="productdetails"
                                        [value]="totalCharge"
                                        disabled
                                      />
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <div class="col-md-6">
                    <form
                      [formGroup]="additionalDetails"
                      (ngSubmit)="onAdditionalDetails()"
                    >
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title">Item 1 Details</div>
                        </div>
                        <div class="panel">
                          <div class="panel-body">
                            <div class="form-group">
                              <label class="col-sm-6 control-label" for="name"
                                >Payment Laibility
                                <span class="requerido"> *</span></label
                              >
                              <div class="col-sm-6">
                                <select
                                  class="form-control"
                                  id="country"
                                  required="true"
                                  name="payment_liability"
                                  formControlName="payment_liability"
                                >
                                  <option value="Kilo">Kilo</option>
                                  <option value="Quintal">Quintal</option>
                                  <option value="Litre">Litre</option>
                                  <option value="Ton">Ton</option>
                                </select>
                                <small
                                  *ngIf="
                                    additionalDetails
                                      .get('payment_liability')
                                      ?.hasError('required') &&
                                    additionalDetails.get('payment_liability')
                                      ?.touched
                                  "
                                  class="text-danger"
                                  >required field</small
                                >
                              </div>
                            </div>

                            <div class="form-group">
                              <label class="col-sm-6 control-label" for="rut"
                                >Total Billing Amount<span class="requerido">
                                  *</span
                                ></label
                              >
                              <div class="col-sm-6">
                                <input
                                  type="number"
                                  class="form-control rut"
                                  id="rut"
                                  name="rut"
                                  formControlName="total_billing_amount"
                                />
                                <small
                                  *ngIf="
                                    additionalDetails
                                      .get('total_billing_amount')
                                      ?.hasError('required') &&
                                    additionalDetails.get(
                                      'total_billing_amount'
                                    )?.touched
                                  "
                                  class="text-danger"
                                  >required field</small
                                >
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-6 control-label" for="rut"
                                >Amount Received<span class="requerido">
                                  *</span
                                ></label
                              >
                              <div class="col-sm-6">
                                <input
                                  type="number"
                                  class="form-control rut"
                                  id="rut"
                                  name="rut"
                                  formControlName="amount_received"
                                />
                                <small
                                  *ngIf="
                                    additionalDetails
                                      .get('amount_received')
                                      ?.hasError('required') &&
                                    additionalDetails.get('amount_received')
                                      ?.touched
                                  "
                                  class="text-danger"
                                  >required field</small
                                >
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-6 control-label" for="rut"
                                >Amount Adjustment<span class="requerido">
                                  *</span
                                ></label
                              >
                              <div class="col-sm-6">
                                <input
                                  type="number"
                                  class="form-control rut"
                                  id="rut"
                                  name="rut"
                                  formControlName="amount_adjustment"
                                />
                                <small
                                  *ngIf="
                                    additionalDetails
                                      .get('amount_adjustment')
                                      ?.hasError('required') &&
                                    additionalDetails.get('amount_adjustment')
                                      ?.touched
                                  "
                                  class="text-danger"
                                  >required field</small
                                >
                              </div>
                            </div>
                            <div class="form-group">
                              <label class="col-sm-6 control-label" for="rut"
                                >Cue Balance Amount<span class="requerido">
                                  *</span
                                ></label
                              >
                              <div class="col-sm-6">
                                <input
                                  type="number"
                                  class="form-control rut"
                                  id="rut"
                                  name="rut"
                                  formControlName="cue_balance_amount"
                                />
                                <small
                                  *ngIf="
                                    additionalDetails
                                      .get('cue_balance_amount')
                                      ?.hasError('required') &&
                                    additionalDetails.get('cue_balance_amount')
                                      ?.touched
                                  "
                                  class="text-danger"
                                  >required field</small
                                >
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class="panel-footer">
                          <div class="row">
                            <div class="col col-xs-offset-3 col-xs-6">
                              <!-- <nav aria-label="Page navigation" class="text-center">
                                                            <ul class="pagination">
                                                              <li>
                                                                <a href="#" aria-label="Previous">
                                                                  <span aria-hidden="true">«</span>
                                                                </a>
                                                              </li>
                                                              <li class="active"><a href="#">1</a></li>
                                                              <li><a href="#">2</a></li>
                                                              <li><a href="#">3</a></li>
                                                              <li><a href="#">4</a></li>
                                                              <li><a href="#">5</a></li>
                                                              <li>
                                                                <a href="#" aria-label="Next">
                                                                  <span aria-hidden="true">»</span>
                                                                </a>
                                                              </li>
                                                            </ul>
                                                          </nav> -->
                            </div>
                            <div class="col col-xs-3">
                              <div class="pull-right">
                                <button
                                  type="button"
                                  class="btn btn-success"
                                    data-toggle="modal" 
                                  href="#loginModal"
                                  [disabled]="
                                    additionalDetails.invalid ||
                                    allTypesCharges.invalid
                                  "
                                >
                                  <span
                                    class="glyphicon glyphicon-ok-sign"
                                    aria-hidden="true"
                                    data-toggle="modal" 
                                  ></span>
                                  submit
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>
                  </div>
                  <!-- </nav> -->
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>

<div
  id="loginModal"
  class="modal fade"
  tabindex="-1"
  role="dialog"
  aria-hidden="true"
>
  <div class="modal-dialog modal-fullscreen-md-down">
    <div class="modal-content">
      <div class="modal-header custom-header-panel">
        <div class="row">
          <div class="col-md-8">
            <h4>Invoice</h4>
          </div>
          <div class="col-md-4">
            <button type="button" class="btn1">
              <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
              Edit
            </button>
            <button type="button" class="btn2 mt-5">
              <span class="glyphicon glyphicon-print" aria-hidden="true"></span>
              Print
            </button>
            <button
              type="button"
              class="close"
              data-dismiss="modal"
              aria-hidden="true"
            >
              ×
            </button>
          </div>
        </div>
      </div>
      <div class="modal-body">
        <div class="container-fluid" id="new_table">
          <table style="width: 100%">
            <tr>
              <th colspan="2" rowspan="3">
                <img
                  src="assets/images/tms_123.png"
                  style="height: 115px; width: 180px"
                />
              </th>
              <th colspan="3" rowspan="3" style="border-left: hidden">
                <h3><strong> TRANSPORT MANAGEMENT SYSTEM</strong></h3>
                <h6>
                  Unit No. # 09, 2nd Floor, Emaar MGF - The Palm Square, Golf
                </h6>
                <h6>Course Ext Rd, Sector 66, Gurugram, Haryana 122002</h6>
              </th>
              <th colspan="2" rowspan="3" style="border-left: hidden">
                <img
                  src="assets/images/barcode.png"
                  style="height: 100px; width: 170px; margin-left: 100px"
                />
              </th>
            </tr>
            <tr></tr>
            <tr></tr>
            <tr>
              <th colspan="7" class="text-center"><h3>Consigment Note</h3></th>
            </tr>
            <tr>
              <td class="text-center"><b> CN NUMBER </b></td>
              <td class="text-center"><b> DATE </b></td>
              <td class="text-center"><b> VIA </b></td>
              <td class="text-center"><b> FROM </b></td>
              <td class="text-center"><b> TO </b></td>
              <td class="text-center"><b> PAYMENT </b></td>
              <td class="text-center"><b> COPY FOR </b></td>
            </tr>
            <tr>
              <td class="text-center">PKG06195</td>
              <td class="text-center">06-04-2023</td>
              <td class="text-center">ROAD</td>
              <td class="text-center">MUMBAI</td>
              <td class="text-center">GURGAON</td>
              <td class="text-center">TO PAY</td>
              <td class="text-center">CONSIGNEE</td>
            </tr>
            <tr>
              <th colspan="2" rowspan="3">
                <b>CONSIGNOR: LOKNATH INDUSTRY</b>
                <br />
                <h6>GURUGRAM, HARYANA SECTOR 66 <br /></h6>
                <h6>GST:11ADFL1574B1ZQ</h6>
              </th>
              <th colspan="3" rowspan="3">
                CONSIGNEE: KULDEEP KUMAR
                <h6>GURUGRAM, HARYANA SECTOR 66</h6>
                <h6>GST:11ADFL1574B1ZQ</h6>
              </th>
              <th colspan="2" rowspan="3">
                <b> SHIPPING ADDRESS: KULDEEP KUMAR </b>
                <h6>GURUGRAM, HARYANA SECTOR 66</h6>
                <h6>GST:11ADFL1574B1ZQ</h6>
              </th>
            </tr>
            <tr></tr>
            <tr></tr>

            <tr>
              <!-- <th colspan="5">Name</th> -->
              <td><b>ITEM</b></td>
              <td><b>QTY</b></td>
              <td><b>RATE</b></td>
              <td><b>TYPE</b></td>
              <td><b>AMOUNT</b></td>

              <th rowspan="3" class="text-right">Transport CHARGES</th>
              <th rowspan="3" class="text-right">2,000</th>
            </tr>
            <tr>
              <td>MOTOR</td>
              <td>20</td>
              <td>2000</td>
              <td>WEIGHT</td>
              <td>2,00,000</td>
            </tr>
            <tr>
              <th colspan="5" rowspan="6"></th>
            </tr>
            <tr>
              <td class="text-right">RC</td>
              <td class="text-right">40.00</td>
            </tr>
            <tr>
              <td class="text-right">HAMALI</td>
              <td class="text-right">400.00</td>
            </tr>
            <tr>
              <td class="text-right">SERVICE CHARGES</td>
              <td class="text-right">40.00</td>
            </tr>
            <tr>
              <td class="text-right">STATISTICAL CHARGES</td>
              <td class="text-right">40.00</td>
            </tr>
            <tr>
              <td class="text-right">OTHER CHARGES</td>
              <td class="text-right">30.00</td>
            </tr>
            <tr>
              <th colspan="4" rowspan="2">
                <b>INVOICE NO: 201 </b>

                <h5>E-WAY BillNO: 36572568</h5>
              </th>

              <th rowspan="2" class="text-center">
                BOOKING POINT
                <h5>MUMBAI</h5>
              </th>
              <td class="text-right"><b>SUB TOTAL</b></td>
              <td class="text-right"><b>2,000.00</b></td>
            </tr>
            <tr>
              <td class="text-right">IGST 5.00%</td>
              <td class="text-right">128.00</td>
            </tr>
            <tr>
              <th colspan="3" rowspan="2">PRIVATE MARK:</th>
              <th colspan="2" rowspan="2">TEXT PAID BY CONSIGNEE</th>
              <td class="text-right">CGST</td>
              <td class="text-right">0.00</td>
            </tr>
            <tr>
              <td class="text-right">SGST</td>
              <td class="text-right">0.00</td>
            </tr>
            <tr>
              <th colspan="3">CLAIM AMOUNT</th>
              <th colspan="2">AMOUNT IN WORD: TWO THOUSAND</th>
              <td class="text-right"><b>GRAND TOTAL</b></td>
              <td class="text-right"><b>2,000.00</b></td>
            </tr>
            <tr>
              <th colspan="5" rowspan="2">
                CONSIGNMENT CAUTION:
                <h6>
                  This assignment convert by set of lorry receipt from shall be
                  stored at the destination under the control of the transport
                </h6>
              </th>
              <th colspan="2" rowspan="2" class="text-center">
                TRANSPORT MANAGEMENT SYSTEM
              </th>
            </tr>
            <tr></tr>
            <tr>
              <th colspan="7">
                BANK ACCOUNT NAME: TRANSPORT MANAGEMENT SYSTEM, ACCOUNT NO.
                234567891076, IFSC: SBIN234000, BRANCH: GURGAON
              </th>
            </tr>
          </table>
        </div>
      </div>
      <div class="modal-footer">
        <div class="col-md-12">
          <!-- <button class="btn btn-primary" data-dismiss="modal" aria-hidden="true">Update your data</button>
          <button class="btn btn-danger" data-dismiss="modal" aria-hidden="true">Cancel</button> -->
        </div>
      </div>
    </div>
  </div>
</div>

