<div class="container-fluid mb-40">
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" id="table">

              <div class="panel-heading"><span class="pull-right">

                  <a role="button" class="btn  btn-success" [routerLink]="['/dashboard/consignment-booking']">
                    <span class="glyphicon glyphicon-arrow-left"></span> Back</a>
                </span>
                <ul class="list-inline list-unstyled">
                  <li>
                    <h4>Additional Service Charges & Billing Summary</h4>

                  </li>



                </ul>


              </div>
              <div class="panel-body">
                <div class="alert alert-success" role="alert"> <i class="glyphicon glyphicon-info-sign mr-10" aria-hidden="true"></i><strong class="mr-10">Record</strong>Record inserted.</div>
                <div class="row mb-20">
                  
                  <div class="col-md-12 ">
                    
                    <div class="panel panel-primary ">
                      <div class="panel-heading">
                        <div  class="panel-title">
                          Consignment Details
                        </div>
                       
                      </div>
                      <div class="panel-body" style="overflow-x: auto">
                        <table class="table border-bottom border-gray-200 mt-3">
                          <thead>
                            <tr>
                              <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm px-0 col-xs-6">Consignor Details</th>
                              <th scope="col" class="fs-sm text-dark text-uppercase-bold-sm text-end px-0 col-xs-6">Consignee Details</th>
                            </tr>
                          </thead>
                          <tbody>
                            <tr>
                              <td class="px-0">loknath industry
                               </td>
                              <td class="text-end px-0">loknath industry </td>
                            </tr>
                            <tr>
                              <td class="px-0">Address:<span class="bs-example">bishlghar tripura west,</span>
                                city:<span class="bs-example">agartala,</span>pin:<span class="bs-example">7999001,</span>mobile:<span class="bs-example">9862519355,</span>gst no:<span class="bs-example">16aadfl1574b1zq</span></td>
                                <td class="px-0">Address:<span class="bs-example">bishlghar tripura west,</span>
                                  city:<span class="bs-example">agartala,</span>pin:<span class="bs-example">7999001,</span>mobile:<span class="bs-example">9862519355,</span>gst no:<span class="bs-example">16aadfl1574b1zq</span></td>
                            </tr>
                          </tbody>
                        </table>

                      </div>

                    </div>
                  </div>
                </div>
                <div class="row">
                  <div class="col-md-6 mb-1">
                    <form>
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title">
                            Item 1 Details
                          </div>
                        </div>
                        <div class="panel-body">

                          <div class="row clearfix">
                            <div class="col-md-12 column" style="overflow-x: auto">
                              <table class="table table-bordered table-hover" id="tab_logic">

                                <tbody id='addr0'>
                                  <tr >
                                    <td>
                                      1
                                    </td>
                                    <td>
                                      R.C
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      2
                                    </td>
                                    <td>
                                      Hamali
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      3
                                    </td>
                                    <td>
                                      Service Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      4
                                    </td>
                                    <td>
                                      Statistical Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      5
                                    </td>
                                    <td>
                                      Cover Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      6
                                    </td>
                                    <td>
                                      Insurance Charge on invoice Value in Percentage
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      7
                                    </td>
                                    <td>
                                      D.D.Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      8
                                    </td>
                                    <td>
                                      Other Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  
                                  <tr >
                                    <td>
                                      9
                                    </td>
                                    <td>
                                      Fee Charge
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr >
                                    <td>
                                      10
                                    </td>
                                    <td>
                                      Door Delivery Charges Including Loading & Unloding
                                    </td>
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  <tr class="alert-warning">
                                    <td colspan="2" >
                                      Total Charge
                                    </td>
                                    
                                    <td>
                                      
                                      <input type="text" class="form-control" name="productdetails">
                                    </td>
                                    
                                  </tr>
                                  
                                  
                                </tbody>
                              </table>


                            </div>


                          </div>
                        </div>
                        
                      </div>
                    </form>

                  </div>
                  <div class="col-md-6">
                    <form >
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="panel-title">
                            Item 1 Details
                          </div>
                        </div>
                        <div class="panel">

                          <div class="panel-body">

  <div class="form-group">
    <label class="col-sm-6 control-label"
        for="name">Payment Laibility <span
            class="requerido">
            *</span></label>
    <div class="col-sm-6">
      <select
      class="form-control"
      id="country"
      required="true"
      name="weighttype"
      formControlName="weightType"
    >
      <option value="Kilo">Kilo</option>
      <option value="Quintal">Quintal</option>
      <option value="Litre">Litre</option>
      <option value="Ton">Ton</option>
    </select>
    </div>
</div>

<div class="form-group">
    <label class="col-sm-6 control-label"
        for="rut">Total Billing Amount<span
            class="requerido">
            *</span></label>
    <div class="col-sm-6">
        <input type="text"
            class="form-control rut" id="rut"
            name="rut" value="" maxlength="12"
            placeholder="" required="required">
    </div>
</div>
<div class="form-group">
    <label class="col-sm-6 control-label"
        for="rut">Amount Received<span
            class="requerido">
            *</span></label>
    <div class="col-sm-6">
        <input type="text"
            class="form-control rut" id="rut"
            name="rut" value="" maxlength="12"
            placeholder="" required="required">
    </div>
</div>
<div class="form-group">
  <label class="col-sm-6 control-label"
      for="rut">Amount Adjustment<span
          class="requerido">
          *</span></label>
  <div class="col-sm-6">
      <input type="text"
          class="form-control rut" id="rut"
          name="rut" value="" maxlength="12"
          placeholder="" required="required">
  </div>
</div>
<div class="form-group">
  <label class="col-sm-6 control-label"
      for="rut">Cue Balance Amount<span
          class="requerido">
          *</span></label>
  <div class="col-sm-6">
      <input type="text"
          class="form-control rut" id="rut"
          name="rut" value="" maxlength="12"
          placeholder="" required="required">
  </div>
</div>





                              


                          </div>
                      </div>
                        <div class="panel-footer">
                          <div class="row ">
                            <div class="col col-xs-offset-3 col-xs-6">
                              <!-- <nav aria-label="Page navigation" class="text-center">
                                                            <ul class="pagination">
                                                              <li>
                                                                <a href="#" aria-label="Previous">
                                                                  <span aria-hidden="true">«</span>
                                                                </a>
                                                              </li>
                                                              <li class="active"><a href="#">1</a></li>
                                                              <li><a href="#">2</a></li>
                                                              <li><a href="#">3</a></li>
                                                              <li><a href="#">4</a></li>
                                                              <li><a href="#">5</a></li>
                                                              <li>
                                                                <a href="#" aria-label="Next">
                                                                  <span aria-hidden="true">»</span>
                                                                </a>
                                                              </li>
                                                            </ul>
                                                          </nav> -->
                            </div>
                            <div class="col col-xs-3">
                              <div class="pull-right">
                                <button type="button" class="btn btn-success">
                                  <span class="glyphicon glyphicon-ok-sign" aria-hidden="true"></span>
                                  submit
                                </button>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                    </form>

                  </div>

                </div>

              </div>

            </div>

          </div>





        </div>
      </div>
      <div class="clearfix"></div>



    </div>
  </div>

</div>