<div class="container-fluid mb-40">
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" id="table">
              <div class="panel-heading">
                <span class="pull-right">
                  <a
                    role="button"
                    class="btn btn-success"
                    [routerLink]="['/dashboard/consignee']"
                  >
                    <span class="glyphicon glyphicon-arrow-left"></span> Back</a
                  >
                </span>
                <ul class="list-inline list-unstyled">
                  <li>
                    <h4>Consignment Booking</h4>
                  </li>
                </ul>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 mb-1">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          <form
                            id="candidatedata"
                            class="form-horizontal"
                            role="form"
                            [formGroup]="newConsignmentBookingData"
                            (ngSubmit)="onCreateNewConsignmentBookingData()"
                          >
                            <div class="row">
                              <div class="col-md-12">
                                <div class="panel">
                                  <div
                                    class="panel-heading custom-header-panel"
                                  >
                                    <h3 class="panel-title roboto">
                                      Consignment Summary
                                    </h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="name"
                                        >Consignment Booking Date
                                        <span class="requerido"> *</span></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="date"
                                          class="form-control"
                                          name="name"
                                          id="name"
                                          formControlName="consignment_booking_date"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('consignment_booking_date')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'consignment_booking_date'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Bilty Type<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="bilty_type"
                                          formControlName="bilty_type"
                                        >
                                          <option value="GST Invoice">
                                            GST Invoice
                                          </option>
                                          <option value="Booking Challan">
                                            Booking Challan
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('bilty_type')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'bilty_type'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Booking Refferrence<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="booking_reference"
                                          formControlName="booking_reference"
                                        >
                                          <option value="Kolkata">
                                            Kolkata
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('booking_reference')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'booking_reference'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Broker Details<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="broker_details"
                                          formControlName="broker_details"
                                        >
                                          <option value="Box">
                                            Direct Customer
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('broker_details')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'broker_details'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Chaalan/Invoice/Doc/Bil Date<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="date"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="challan_date"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('challan_date')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'challan_date'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Challan/Invoice/Doc/Bill No.<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="number"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="challan_bill_no"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('challan_bill_no')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'challan_bill_no'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Value of Good (Rs.)<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="number"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="value_of_goods"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('value_of_goods')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'value_of_goods'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Tax Paid By<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="tax_paid_by"
                                          name="tax_paid_by"
                                          formControlName="tax_paid_by"
                                        >
                                          <option value="Consignor">
                                            Consignor
                                          </option>
                                          <option value="Consignee">
                                            Consignee
                                          </option>
                                          <option value="Transporter">
                                            Transporter
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('tax_paid_by')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'tax_paid_by'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Transportation Mode<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="transportation_mode"
                                          formControlName="transportation_mode"
                                        >
                                          <option value="Road">Road</option>
                                          <option value="Plane">Plane</option>
                                          <option value="Cargo">Cargo</option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('transportation_mode')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'transportation_mode'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >From<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="from"
                                          formControlName="from"
                                        >
                                          <option value="Kolkata">
                                            Kolkata
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('from')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'from'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >To<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="to"
                                          formControlName="to"
                                        >
                                          <option value="Agartala">
                                            Agartala
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('to')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get('to')
                                              ?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Payment Terms<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="payment_terms"
                                          formControlName="payment_term"
                                        >
                                          <option value="Paid">Paid</option>
                                          <option value="To Pay">To Pay</option>
                                          <option value="To Be Billed">
                                            To Be Billed
                                          </option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentBookingData
                                              .get('payment_term')
                                              ?.hasError('required') &&
                                            newConsignmentBookingData.get(
                                              'payment_term'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>

                                    <!--Fin datos personales-->
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                      ></label>

                                      <div class="col-sm-6">
                                        <button
                                          type="submit"
                                          id="submit_btn"
                                          class="btn btn-success"
                                        >
                                          <!-- [disabled]="
                                            newConsignmentBookingData.invalid ||
                                            newConsignmentPackingSummary.invalid
                                          "-->
                                          <span
                                            class="glyphicon glyphicon-ok-circle mr-10"
                                            aria-hidden="true"
                                          ></span
                                          >Submit
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-1">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col col-xs-12">
                              <h3 class="panel-title roboto">
                                Shipping Address
                              </h3>
                            </div>
                          </div>
                        </div>

                        <div
                          class="panel-body panel-table"
                          style="overflow-x: auto"
                        >
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="col-xs-4">
                                <b class="">Consignor's Name</b>
                              </div>
                              <div class="col-xs-1">
                                <b class="">:</b>
                              </div>
                              <div class="col-xs-7">
                                <span class="text-muted">John Doe</span>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr />
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="col-xs-4">
                                <b class="">Consignee's Name</b>
                              </div>
                              <div class="col-xs-1">
                                <b class="">:</b>
                              </div>
                              <div class="col-xs-7">
                                <span class="text-muted">John Doe</span>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr />
                          <div class="row">
                            <div class="col-xs-12">
                              <div class="col-xs-4">
                                <b class="">Shipping Address</b>
                              </div>
                              <div class="col-xs-1">
                                <b class="">:</b>
                              </div>
                              <div class="col-xs-7">
                                <div class="form-area">
                                  <form role="form" id="addr0">
                                    <br style="clear: both" />

                                    <div class="form-group">
                                      <textarea
                                        class="form-control"
                                        type="textarea"
                                        id="message"
                                        placeholder="Message"
                                        maxlength="140"
                                        rows="3"
                                      ></textarea>
                                    </div>

                                    <div class="form-group form-check">
                                      <input
                                        type="checkbox"
                                        class="form-check-input"
                                        id="exampleCheck1"
                                      />
                                      <label
                                        class="form-check-label"
                                        for="exampleCheck1"
                                        >Check this box if shipping Address and
                                        Consignee's Address are the same</label
                                      >
                                    </div>
                                  </form>
                                </div>
                              </div>
                            </div>
                          </div>
                          <div class="clearfix"></div>
                          <hr />
                        </div>
                      </div>
                      <div class="clearfix mb-1"></div>

                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col col-xs-12">
                              <h3 class="panel-title roboto">
                                Packing Summary
                              </h3>
                            </div>
                          </div>
                        </div>

                        <div
                          class="panel-body panel-table"
                          style="overflow-x: auto"
                        >
                          <form
                            id="candidatedata"
                            class="form-horizontal"
                            role="form"
                            [formGroup]="newConsignmentPackingSummary"
                          >
                            <div class="row">
                              <div class="col-md-12">
                                <div class="panel">
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="name"
                                        >Packing Size
                                        <span class="requerido"> *</span></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="name"
                                          id="name"
                                          formControlName="packing_size"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('packing_size')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'packing_size'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Private/Party Mark<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="private_party_mark"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('private_party_mark')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'private_party_mark'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Remarks/Broker Note<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="remarks_broker_note"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('remarks_broker_note')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'remarks_broker_note'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Shipping Risk<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <select
                                          class="form-control"
                                          id="country"
                                          required="true"
                                          name="shipping_risk"
                                          formControlName="shipping_risk"
                                        >
                                          <option value="Owner Risk">
                                            Owner Risk
                                          </option>
                                          <option value="Carrier Risk">
                                            Carrier Risk
                                          </option>
                                          <option value="N/A">N/A</option>
                                        </select>
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('shipping_risk')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'shipping_risk'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >E-Way Bill NO.<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="number"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="eway_bill_no"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('eway_bill_no')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'eway_bill_no'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >E-Way Bill Date<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="date"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="eway_bill_date"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('eway_bill_date')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'eway_bill_date'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-6 control-label"
                                        for="rut"
                                        >Distance Level(km)<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-6">
                                        <input
                                          type="number"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          formControlName="distance_level"
                                        />
                                        <small
                                          *ngIf="
                                            newConsignmentPackingSummary
                                              .get('distance_level')
                                              ?.hasError('required') &&
                                            newConsignmentPackingSummary.get(
                                              'distance_level'
                                            )?.touched
                                          "
                                          class="text-danger"
                                          >required field</small
                                        >
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
