<div class="wrapper  mb-1" id="wrapper">
    <div class="well">
      <div class="container-fluid">
  
        <div class="row  ">
          <div class="col-md-12 ">
            <div class="media mb-1">
              <a href="#" class="pull-left">
                  <i class="glyphicon glyphicon-user" style="width: 50px; height: 50px; font-size: 4em;;"></i>
                  <!--<img class="media-object" src="http://placehold.it/50x50">-->
                  
              </a>
              
              <div class="media-body">
                
                  <div class="col-lg-6 padding-left-0">
                      <h4 class="media-heading">Profile</h4> 
                      <div class="col-lg-12 padding-left-0">
      
                        <ul class="list-inline list-unstyled">
                            <li><div class="btn-group">
                                    <a class="btn btn-primary btn-xs" href="javascript:void(0)">Welcome User</a>
                                                                     
                                </div></li>
                            <li>|</li>
                            <li><span><i class="glyphicon glyphicon-calendar"></i> 2 days, 8 hours </span></li>
                            <li>|</li>
                            <span><i class="glyphicon glyphicon-comment"></i> 2 comments</span>
                            <li>|</li>
                            <!-- <li>
                                
                                <span><i class="glyphicon glyphicon-calendar"></i>wewqe</span>
                                <span><i class="glyphicon glyphicon-calendar"></i>rwre</span>
                                <span><i class="glyphicon glyphicon-calendar"></i>erew</span>
                            </li> -->
                        </ul>
                    </div>
        
                  </div>
                  <div class="col-lg-6 text-right">
                    <ul class="breadcrumb">
                        <li><i class="fa fa-home"></i><a href="#"> Home</a></li>
                        <li><a href="#"> Dashboard</a></li>
                        <li class="active">Profile</li>
                      </ul> 
                      
                  </div>
      
                  
              </div>
          </div>
           </div>
        </div>
      </div>
      <div class="container-fluid bg-3 text-center ">
       
      </div>
         
    </div>
  
  </div>
   