@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
}

html,
body,
address,
blockquote,
div,
dl,
form,
h1,
h2,
h3,
h4,
h5,
h6,
ol,
p,
pre,
table,
ul,
dd,
dt,
li,
tbody,
td,
tfoot,
th,
thead,
tr,
button,
del,
ins,
map,
object,
a,
abbr,
acronym,
b,
bdo,
big,
br,
cite,
code,
dfn,
em,
i,
img,
kbd,
q,
samp,
small,
span,
strong,
sub,
sup,
tt,
var,
legend,
fieldset {
  margin: 0px;
  padding: 0px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 20px;
  background-color: #eee;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  line-height: 20px;
  background-color: #eee !important;
}

.wrapper {
  padding-left: 30px;
  padding-right: 30px;
}

.header {
  position: absolute;
  overflow: hidden;
}

.content {
  position: absolute;
  overflow: auto;
}
.well {
    background-color: #ffffff !important;
 }
h1,
h2,
h3 {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
}
.page-content {
  background: #fff;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}
.page-content2 {
  background: transparent;
  border-radius: 3px;
  border: 1px solid #d0d0d0;
  padding: 20px 20px 0px 20px;
  margin-bottom: 20px;
}
#login-dp {
  min-width: 250px;
  padding: 14px 14px 0;
  overflow: hidden;
  background-color: rgba(255, 255, 255, 0.8);
}

#login-dp .help-block {
  font-size: 12px;
}

#login-dp .bottom {
  background-color: rgba(255, 255, 255, 0.8);
  border-top: 1px solid #ddd;
  clear: both;
  padding: 14px;
}

#login-dp .form-group {
  margin-bottom: 10px;
}

.btn-fb {
  color: #fff;
  background-color: #3b5998;
}

.btn-fb:hover {
  color: #fff;
  background-color: #496ebc;
}

.btn-tw {
  color: #fff;
  background-color: #55acee;
}

.btn-tw:hover {
  color: #fff;
  background-color: #59b5fa;
}

@media (max-width: 768px) {
  #login-dp {
    background-color: inherit;
    color: #fff;
  }

  #login-dp .bottom {
    background-color: inherit;
    border-top: 0 none;
  }
}
.panel-body .btn:not(.btn-block) {
  width: 120px;
  margin-bottom: 10px;
}
/* title */
.title-page{
  width: 50px; height: 50px; font-size: 4em;
}
/* end Title */
/*----Nav Bar designe------*/
.nav > li > a {
  position: relative;
  display: block;
  padding: 15px 10px 15px 10px !important;
}
.navbar-default {
  background: #ffffff !important;
  /* Drop Shadow */
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-bottom: 1px solid #000 !important;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
  color: #fff !important;
  background-color: #131313 !important;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  color: #fff !important;
  background-color: #131313 !important;
}
.navbar-toggle .icon-bar {
  background-color: #000;
}

.navbar-toggle {
  background-color: #000 !important;
}

/*----close Nav Bar designe------*/
/*-----footer-------*/
.footer {
  position: absolute;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(
    90deg,
    rgba(27, 147, 173, 1) 50%,
    rgba(86, 187, 209, 1) 87%
  ) !important;
}

footer {
  background: linear-gradient(
    90deg,
    rgba(27, 147, 173, 1) 50%,
    rgba(86, 187, 209, 1) 87%
  ) !important;
}

footer h4 {
  height: 100%;
  color: white;
  font-size: 18px;
  font-weight: 300;
  text-align: center;
}

/*--------footer close-------- */
/*--------login---------*/
.branch-text {
  font-size: 4px;
  line-height: 5px;
}

/*-----login form close----------*/
/* deshboard-count card */
.panel.panel-horizontal {
  display: table;
  width: 100%;
}

.panel.panel-horizontal > .panel-heading,
.panel.panel-horizontal > .panel-body,
.panel.panel-horizontal > .panel-footer {
  display: table-cell;
}

.panel.panel-horizontal > .panel-heading,
.panel.panel-horizontal > .panel-footer {
  width: 25%;
  border: 0;
  vertical-align: middle;
}

.panel.panel-horizontal > .panel-heading {
  border-right: 1px solid #ddd;
  border-top-right-radius: 0;
  border-bottom-left-radius: 4px;
}

.panel.panel-horizontal > .panel-footer {
  border-left: 1px solid #ddd;
  border-top-left-radius: 0;
  border-bottom-right-radius: 4px;
}

/* end deshnoard-count-card */
/* html-scrollbar */
html::-webkit-scrollbar {
  width: 6px;
  background-color: #ececec;
}

html::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

html::-webkit-scrollbar-thumb {
  background-color: #b57008;
  outline: 1px solid #b57008;
}

/* html-scrollbar  */

/* mini-stat */
.mini-stat h5 {
  float: left;
  margin: 0;
  text-align: left;
  font-size: 0.85em;
  color: #888888;
}

.mini-stat li {
  border-left: 1px solid #ddd;
  padding-left: 10px;
  padding-right: 10px;
}

.mini-stat > li:first-child {
  border-left: none;
}

.mini-stat h5 .stat-value {
  display: block;
  font-size: 18px;
  margin-top: 4px;
}

/* end mini-stat */

/* login-page */
.gradient-custom-2 {
  /* fallback for old browsers */
  background: #ffff;
  background-size: auto 100%;
}
.login-transprent-bg {
  background-color: transparent !important;
}
.h-100 {
  height: 100vh !important;
}
@media (min-width: 768px) {
  .gradient-form {
    height: 100vh !important;
  }
}
@media (min-width: 769px) {
  .gradient-custom-2 {
    border-top-right-radius: 0.3rem;
    border-bottom-right-radius: 0.3rem;
  }
}
.login-right-bg {
  background: linear-gradient(180deg, #60d0e9 0%, #1b93ad 100%);

  background-size: auto 100%;
}

/* login-page */
.mb-1 {
  margin-bottom: 40px;
}
/* bg-color */
.tag-red {
  background: #e74c3c;
  color: #fff !important;
}
.tag-green {
  background-color: #21ba45 !important;
  color: #fff !important;
}
.tag-C-green {
  background: #00a9bd !important;
  color: #fff !important ;
}
.tag-blue {
  background-color: #2185d0 !important;
  color: #fff !important;
}
.tag-pink {
  background-color: #e03997 !important;
  color: #fff !important;
}
.tag-orange {
  background-color: #f2711c !important;
  color: #fff !important;
}
.tag-gray {
  background-color: #4d5052 !important;
  color: #fff !important;
}
.tag-Yellow {
  background-color: #a1a10b !important;
  color: #fff !important;
}
.tag-bark-blue {
  background-color: #066980 !important;
  color: #fff !important;
}

/* end bg-color */
/* button */
.Admin-btn-primary {
  color: #fff;
  background-color: #e88c1d;
  border-color: #e88c1d;
}
/* end button */
/* icon color */
.glyphicon-a{
  color: #379e19 !important;
}
.icon-size{
font-size: 25px;
}
/* end icon color */