<div class="container-fluid mb-40">
  <div class="container" id="main">
    <div class="row">
      <div class="col-md-12">
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default" id="table">
              <div class="panel-heading">
                <span class="pull-right">
                  <a
                    role="button"
                    class="btn btn-success"
                    [routerLink]="['/dashboard/new-bilty-cn']"
                  >
                    <span class="glyphicon glyphicon-arrow-left"></span> Back</a
                  >
                </span>
                <ul class="list-inline list-unstyled">
                  <li>
                    <h4>Consignor</h4>
                  </li>

                  <!-- <li><div class="btn-group">
                            <a class="btn btn-danger btn-xs" href="javascript:void(0)">EXCLUSIVE TAX SALE</a>
                          </div></li> -->
                </ul>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-md-12">
                    <div class="col-md-6 col-sm-6 mb-1">
                      <div class="panel panel-primary">
                        <div class="panel-body">
                          <form
                            id="candidatedata"
                            class="form-horizontal"
                            role="form"
                          >
                            <div class="row">
                              <div class="col-md-12">
                                <div class="panel">
                                  <div
                                    class="panel-heading custom-header-panel"
                                  >
                                    <h3 class="panel-title roboto">
                                      New Consignor
                                    </h3>
                                  </div>
                                  <div class="panel-body">
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="name"
                                        >Consignor Name
                                        <span class="requerido"> *</span></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control"
                                          name="name"
                                          id="name"
                                          value=""
                                          required=""
                                          maxlength="70"
                                        />
                                      </div>
                                    </div>

                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >Address 1<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >Address 2<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >State<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >City<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >PinCode<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >Mobile No<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >Email<span class="requerido">
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                        >Consignor GST No<span
                                          class="requerido"
                                        >
                                          *</span
                                        ></label
                                      >
                                      <div class="col-sm-8">
                                        <input
                                          type="text"
                                          class="form-control rut"
                                          id="rut"
                                          name="rut"
                                          value=""
                                          maxlength="12"
                                          placeholder=""
                                          required="required"
                                        />
                                      </div>
                                    </div>

                                    <!--Fin datos personales-->
                                    <div class="form-group">
                                      <label
                                        class="col-sm-4 control-label"
                                        for="rut"
                                      ></label>

                                      <div class="col-sm-8">
                                        <button
                                          type="submit"
                                          id="submit_btn"
                                          class="btn btn-success"
                                        >
                                          <span
                                            class="glyphicon glyphicon-ok-circle mr-10"
                                            aria-hidden="true"
                                          ></span
                                          >Submit
                                        </button>
                                      </div>
                                    </div>
                                  </div>
                                </div>
                              </div>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6 col-sm-6 mb-1">
                      <div class="panel panel-primary">
                        <div class="panel-heading">
                          <div class="row">
                            <div class="col col-xs-12">
                              <h3 class="panel-title roboto">New Consignor</h3>
                            </div>
                          </div>
                        </div>

                        <div
                          class="panel-body panel-table"
                          style="overflow-x: auto"
                        >
                          <h4>Recent Consignor</h4>
                          <div class="clearfix"></div>
                          <hr />
                          <table
                            id="mytable"
                            class="table table-responsive table-striped table-bordered table-list"
                          >
                            <thead>
                              <tr>
                                <th class="col-text">Consignor Details</th>
                                <th class="col-text">Mobile No</th>

                                <th class="col-tools">Select</th>
                              </tr>
                            </thead>
                            <tbody>
                              <tr data-status="completed">
                                <td>gurgaon</td>
                                <td>0000-0000-00</td>

                                <td>
                                  <a
                                    class="btn btn-danger"
                                    [routerLink]="[
                                      '/dashboard/consignment-booking'
                                    ]"
                                    ><span
                                      class="glyphicon glyphicon-check mr-10"
                                      aria-hidden="true"
                                    ></span
                                    >Submit Now</a
                                  >
                                </td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="clearfix"></div>
    </div>
  </div>
</div>
